.header {
  position: relative;
  z-index: 1;
  padding: 25px 0;
  box-shadow: 0 0 4px 0px black;
  background-color: #c9f3c9;
  &__title {
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
  }
}