.product {
  padding: 15px;
  text-align: center;
  border: 6px solid;
  border-radius: 3px;
  transition: all 0.3s;
  &:hover {
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.5);
  }
  &--phone {
    border-color: #ec6868;
  }
  &--notebook {
    border-color: #6ab96a;
  }
  &--headset {
    border-color: #9797ce;
  }
  &__name {
    text-transform: uppercase;
    font-size: 24px;
    border-bottom: 1px solid #6ab96a;
  }
  &__category {
    margin-bottom: 10px;
    font-size: 16px;
  }
  &__price {
    margin-bottom: 10px;
    font-size: 18px;
  }
  &__btn {
    display: inline-block;
    margin-bottom: 5px;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #6ab96a;
    border: none;
    outline: none;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      background-color: darken(#6ab96a, 5%);
      box-shadow: none;
    }
    &--product {
      background-color: #424281;
      &:hover {
        background-color: darken(#424281, 5%);
      }
    }
    &:not(:last-of-type) {
      margin-right: 15px;
    }
  }
}